/* Reset some default styles */
body, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background:  #2e2c2e;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-height: calc(100vh - 60px); /* Make sure it covers the full height */
  margin-top: 60px; /* Adjust to avoid overlapping the navbar */
  text-align: center;
}

/* Navbar styles */
.navbar {
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 15px 0;
  height: 30px;
  display: flex;
  align-items: right; 
  justify-content: right;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #ff3d3d;
}

/* Container and Box styles */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  padding-top: 20px; 
  margin: 0 auto; 
  flex-grow: 1;
}

.box {
  background-color: transparent;
  padding: 50px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  gap: 20px;
}


/* Header text styles (Name & Job Title) */
.header-text {
  width: 100%;
}

.header-text h1 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  animation: slideInText 2s ease-out, textGlow 2s ease-in-out 1 forwards;
}

.name-gradient {
  background: linear-gradient(90deg, #f32828, #e38b8b, #f33636);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
}

.header-text h2 {
  font-size: 1.8rem;
  color: #ff3d3d;
  font-weight: 500;
  margin-bottom: 20px;
  animation: fadeInOut 2s ease-in-out 1 forwards, moveText 2s ease-out 1 forwards;
}


/* Name & Job Animations */

@keyframes slideInText {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes textGlow {
  0%, 100% {
    text-shadow: 0 0 1px #ff3d3d, 0 0 2px #ff3d3d, 0 0 3px #ff3d3d;
  }
  50% {
    text-shadow: 0 0 2px #ff3d3d, 0 0 4px #ff3d3d, 0 0 6px #ff3d3d;
  }
}


@keyframes moveText {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}


/* Profile section with image and divider */
.profile-section {
  display: flex;
  align-items: center;
  text-align: justify;
}

.profile-section p {
  font-family: "Montserrat", serif;
  color: rgb(255, 255, 255);
  font-size: large;
  text-shadow: #f7f4f4;
  text-align: justify;
}

.profile-img-wrapper {
  perspective: 1000px; /* Container Perspective */
}

.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 10%;
  margin-right: 20px;
  opacity: 0;
  animation: fadeIn 1s forwards;
  transition: transform 0.5s ease;
}

.profile-img:hover {
  transform: rotateY(15deg) rotateX(15deg) scale(1.05);
}

/* Vertical divider */
.divider {
  width: 2px;
  background-color: #ff3d3d;
  height: 250px;
  margin-left: 20px;
  margin-right: 20px;
}

/* About Me section */
.about-me {
  flex: 1;
  padding: 20px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #626262;
  text-align: justify;
}

.button {
  padding: 10px;
  background-color: #ff3d3d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #ff3d3d;
}

/* Animated Card */
.connect-card {
  background: transparent;
  color: rgb(255, 255, 255);
  padding: 30px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  max-width: auto;
  height: 200px;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
}
  


/* Hover Animation */
.connect-card:hover {
  transform: scale(1.05);
}

/* Text and Arrow */
.connect-text {
  font-size: 2rem;
  font-family: "Montserrat", serif;
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.arrow {
  font-size: 3rem;
  animation: bounce 1s infinite alternate;
  color: #ff3d3d;
}

/* Arrow Animation */
@keyframes bounce {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}

/* Right Hand Container */
.connect-actions {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

/* Social Icons */
.social-links {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-right: 10px;
}

.social-links a {
  color: #ff3d3d;
  font-size: 2rem;
  transition: transform 0.2s ease-in-out;
}

.social-links a:hover {
  transform: scale(1.2);
}

/* CV Button */
.cv-button {
  background: #ff3d3d;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: background 0.3s, transform 0.2s;
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-slide-in {
  animation: fadeIn 1.5s ease-out forwards;
  opacity: 0;
  transform: translateY(20px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Delay for the subtitle */
.fade-slide-in-delay {
  animation-delay: 0.8s; 
}

/* Keyframes for the smooth effect */
@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0); /* Slides up into place */
  }
}

/* Grid Layout for Work Section */

#work h1 {
  font-size: xx-large ;
    color:#ff3d3d;
    text-align: left;
}

#work hr {
  border: none;
  height: 2px;
  background-color: #ff3d3d;
  width: 100%;
}

#work h3 {
  font-size: medium;
  font-family: 'Montserrat', sans-serif;
}

.work .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ensures items are flexible but never smaller than 300px */
  gap: 20px;
}

.work .grid__item {
  background-color: rgba(186, 185, 185, 0.8);
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(116, 114, 114, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 250px; /* Ensures consistent height for cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.work .grid__item:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(174, 172, 172, 0.2);
}

.work .grid__item h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.work .grid__item p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Footer styles */
footer {
  background-color: #7b7a7a;
  color: white;
  padding: 20px 0;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  margin-top: 30px;
}

footer p {
  margin: 0;
}

/* For smaller screens (mobile) */
@media only screen and (max-width: 600px) {
  .header-text h1 {
    font-size: 2rem;
  }

  .header-text h2 {
    font-size: 1.2rem;
  }

  .box {
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }

  .profile-img {
    width: 150px;
    height: 150px;
  }

  .divider {
    height: 150px;
  }

  .about-me {
    font-size: 1rem;
  }

  .navbar ul li {
    margin: 0 10px;
  }

  .navbar ul li a {
    font-size: 1rem;
  }
}

/* Contact Page Specific Styles */
.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

 .contacthighlight {
  font-size: xx-large;
  color: #ff3d3d;
  font-family: "Montserrat", serif;
  text-align: center;
  justify-content: flex-end;
 }

.grid_contact {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  width: 100%;
  max-width: 1000px;
}

.grid_contact_item {
  background-color: transparent;
  justify-content: space-around;

  padding: 20px;
  border-radius: 10px;
  }

.grid_contact_item h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.grid_contact_item p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  border: 1px solid #ff3d3d;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px;
  background-color: #ff3d3d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #ff3d3d;
}

/* For mobile screens */
@media only screen and (max-width: 600px) {
  .grid_contact {
    grid-template-columns: 1fr;
  }

  .grid_contact_item {
    padding: 15px;
  }
}

/* Skill section */
.skills-section {
  text-align: center;
  margin: 50px 0;
  width: 100%;
}

.skills-section.skills-title {
  width: 100%;
}

.skill-title {
  display: block;
  width: 100%; /* Ensures text takes full width */
  max-width: 100px; /* Adjust as needed */
  white-space: normal; /* Allows wrapping */
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: center; /* Optional */
  font-size: 15px !important;
  height: 36px;
  margin-bottom: 10px !important;
}

.skills-section h1 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: #ff3d3d;
}

.skills-section p {
  font-size: 1.2rem;
  color: #fffdfd;
  margin-bottom: 30px;
}

.skills-section hr {
  border: none;
  height: 2px;
  background-color: #ff3d3d;
  width: 100%;
}


/* Scroll Container */
.scroll {
  margin-inline: auto;
  justify-content: center;
  max-width: 700px;
  overflow: hidden; /* No traspassing */
  mask: linear-gradient(to right, transparent, grey 5%, grey 95%, transparent);
  transition: all 0.3s ease; /* Eases transiction between states */
}

/* Skill Container */
.scroll__container {
  display: flex;
  gap: 10px;
  width: max-content;
  justify-content: center;
  overflow-x: auto; /* Enables horizontal scroll */
  padding: 10px;
  scroll-behavior: smooth;
  animation: scrollInfinite 10s linear infinite; /* Scroll animation */
  transition: animation 0.3s ease-out; /* Eases the animation effect */
}

/* Pausa da animação no hover */
.scroll:hover .scroll__container {
  animation-play-state: paused; /* Stops scroll animation */
}

/* Individual Items */
.scroll__item {
  width: 100px; /* Fixed width */
  height: 100px; /* Fixed height */
  background-color: #f0f0f0; /* square background */
  border-radius: 10px; /* round borders */
  white-space: nowrap;
  padding: 10px; /* Inside space for the items */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0; /* Items dont shrink */
}


/* Images inside the items */
.scroll__item img {
  width: 80px; /* Image width */
  height: 80px; /* Image height */
  object-fit: contain; /* Adjust the image */
}

/* Horizontal scroll style */
.scroll__container::-webkit-scrollbar {
  display: none; /* No scroll bar */
}


@keyframes scrollInfinite {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 5px));  
  }
}

 .circles {
  display: flex;
  width: 100%;
  justify-content: center;
 }

 .circles__items {
  display: flex;
  gap: 20px;
  justify-content: center;
 }

 .circles__item {
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: transparent;
  color: #000000;
  border-radius: 30%;
  border-color:#ff3d3d;
  border-style: dashed;
  box-shadow: 0 15px 30px rgba(161, 160, 160, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
 }

 .circles__item p {
  font-size: small;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 254, 254);
  justify-content: center;
  align-items: center;
  word-wrap: break-word; 
  overflow-wrap: break-word;
 }

 .circle-icon {
  width: 80px; /* Ajuste conforme necessário */
  height: 80px;
  margin-bottom: 10px; /* Espaço entre o SVG e o texto */
}

 @keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.circles__item {
  animation: bounceIn 0.8s ease-out;
}

.circles__item:nth-child(1) {
  animation-delay: 0.2s;
}
.circles__item:nth-child(2) {
  animation-delay: 0.4s;
}
.circles__item:nth-child(3) {
  animation-delay: 0.6s;
}

.circles__item:hover {
  transform: scale3d(1.1, 1.1, 1.2);
}